<div class="ps-sidebar" data-mh="product-listing">
  <aside class="ps-widget--sidebar ps-widget--category">
    <div class="ps-widget__header">
      <h3><%= t "left_bar.category" %></h3>
    </div>
    <div class="ps-widget__content">
      <ul class="ps-list--checked">
        <% if @hash_categories.present? && @hash_categories[0].present? %>
          <%= render partial: "categories/category_in_leftbar",
            collection: @hash_categories[0], as: :category %>
        <% end %>
      </ul>
    </div>
  </aside>
</div>
